.custom-image-with-text {
    background: #FFF6EE;
}

.custom-image-with-text .image-with-text__media-item {
    aspect-ratio: 283/307;
}

.custom-image-with-text .image-with-text__media-item .image-with-text__media {
    height: auto;
}

.custom-image-with-text .image-with-text__heading {
    line-height: 1.24;
}

.custom-image-with-text .image-with-text__heading p {
    margin-bottom: 0;
}


.custom-image-with-text .image-with-text__text p {
    color: #1C1C1C;
}


.custom-image-with-text .image-with-text__content {
    padding: 1.3rem calc(0rem / var(--font-body-scale)) 1rem;
}

@media screen and (min-width: 750px) {
    .custom-image-with-text .image-with-text__content {
        padding: 2rem calc(3rem / var(--font-body-scale)) 2rem calc(7rem / var(--font-body-scale));
    }
}

@media screen and (min-width: 768px) {
    .custom-image-with-text .image-with-text__media-item {
        aspect-ratio: 182/250;
    }
}

@media screen and (min-width: 1260px) {
    .custom-image-with-text .image-with-text__media-item {
        aspect-ratio: 596/450;
    }
}


@media screen and (max-width: 749px) {
    .image-with-text__content .button {
        width: 98%;
    }
}


@media screen and (min-width: 992px) {
    .custom-image-with-text .image-with-text__heading {
        font-size: 4.8rem;
    }

}