.custom-image-with-text {
    background: #FFF6EE;
}

.custom-image-with-text .block-border {
    border: 0.3rem solid;
    border-right-width: 1.5rem;
    border-bottom-width: 1.5rem;
}


.custom-image-with-text .image-with-text__heading {
    font-size: 4.8rem;
}
