.scrolling-text-bar.scrolling-text-messages {
    position: relative;
    overflow: hidden;
    display: flex;
}

.scrolling-text-bar .message-wrap {
    display: flex;
}

.scrolling-text-bar .message {
    padding: 0 2rem;
    position: relative;
    flex-shrink: 0;

    white-space: nowrap;
    width: max-content;
    display: flex;
    align-items: center;
    transform: translateX(0);

    font-family: 'NewSpiritBold', sans-serif;
    font-weight: 700;
}

.scrolling-text-bar .message-separator {
    display: flex;
    align-items: center;
}

.scrolling-text-bar .message-separator img {
    width: 2.4rem;
    height: 2.4rem;
}

.scrolling-text-bar-wrap-has-two-tapes {
    position: relative;
    height: 24rem;
}

.scrolling-text-bar-wrap-has-two-tapes .scrolling-text-bar {
    position: absolute;
    top: 50%;
    left: -2rem;
    right: -2rem;
}

.scrolling-text-bar-wrap-has-two-tapes .scrolling-text-bar-1 {
    transform: translateY(-50%) rotate(5deg);
    z-index: 1;
}

.scrolling-text-bar-wrap-has-two-tapes .scrolling-text-bar-2 {
    transform: translateY(-50%) rotate(-6deg);
}

@media screen and (min-width: 750px) {
    .scrolling-text-bar .message {
        padding: 0 5rem;
    }

    .scrolling-text-bar .message:not(:last-child):after {
        width: 4.4rem;
        height: 4.4rem;
    }

    .scrolling-text-bar .message-separator img {
        width: 4rem;
        height: 4rem;
    }

    .scrolling-text-bar .message {
        padding: 0 4rem;
    }
}
