.custom-product-section {
    background: #1F4794;
}

.custom-product-section .custom-product-title {
    color: #F4BE18;
    font-size: 3.2rem;
    margin: 0 auto;
    max-width: 32rem;
    text-align: center;
    font-weight: 700;
    text-shadow: 4px 4px #1C1C1C;
    margin-bottom: 4rem;
}


.custom-product-section .custom-product-item {
    margin: 0 auto 4.8rem;
    border-radius: 2.8rem;
    background: #FFFCFA;
    position: relative;
    padding: 2.5rem 2rem;
    margin-right: 13px;
}

.custom-product-section .custom-product-item-wrapper {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom-product-section .custom-product-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 2.6rem;
    z-index: 2;
    background: #FFFCFA;
}

.custom-product-section .custom-product-item:after {
    content: '';
    position: absolute;
    top: 1.1rem;
    right: -1.1rem;
    left: 1.1rem;
    bottom: -1.1rem;
    border-radius: 2.6rem;
    z-index: 1;
    background: #D55F4A;
}

.custom-product-section .custom-product-item .button {
    z-index: 0;
    width: 100%;
}

.custom-product-section .custom-product-item .item-title {
    font-size: 2rem;
    color: #1C1C1C;
    text-align: center;
    font-family: 'NewSpiritBold', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    padding: 0 1.5rem;
    margin-bottom: 1.1rem;
}

.custom-product-section .custom-product-item .item-text {
    font-size: 1.4rem;
    color: #1C1C1C;
    flex-grow: 1;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0;
}

.custom-product-section .custom-product-item .item-wrap {
    border: 1px solid #F4D5CD;
    border-radius: 2rem;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 0.5rem;
}

.custom-product-section .custom-product-item .item-header {
    border-radius: 18px 18px 0 0;
    background: #D55F4A;
    line-height: 1.56;
    color: #FFFCFA;
}

.custom-product-section .custom-product-item .button {
    margin-top: 1.5rem;
    min-height: 4.1rem;
    padding: 1rem;
}

.custom-product-section .custom-product-item .item-price {
    color: #1F4692;
    font-size: 1.8rem;
    font-family: 'NewSpiritBold', sans-serif;
    font-weight: 700;
    margin-top: 1rem;
    line-height: 1.4;
}

@media screen and (min-width: 768px) {
    .custom-product-section .custom-product-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .custom-product-section .custom-product-item {
        max-width: 40rem;
        margin: 0 2rem;
        padding: 4rem 4rem 4.3rem;
    }

    .custom-product-section .custom-product-item {
        border-radius: 4rem;
    }

    .custom-product-section .custom-product-item:before {
        border-radius: 4rem;
    }

    .custom-product-section .custom-product-item:after {
        top: 2rem;
        right: -1.3rem;
        left: 2rem;
        bottom: -1.3rem;
        border-radius: 5.2rem;
    }

    .custom-product-section .custom-product-item .item-title {
        font-size: 3.2rem;
    }
    .custom-product-section .custom-product-item .item-text {
        font-size: 1.6rem;
    }

    .custom-product-section .custom-product-item .item-price {
        font-size: 2.4rem;
        margin-top: 6px;
    }
}

@media screen and (min-width: 992px) {
    .custom-product-section .custom-product-title {
        font-size: 6rem;
        margin-bottom: 5.6rem;
        max-width: 73rem;
    }

}