.subscribe-section {
    background-image: url("./subscribe-top-bg.png");
    background-repeat: no-repeat;
    background-size: 116rem auto;
    position: relative;
}

.subscribe-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./subscribe-star-bg.png");
    background-repeat: no-repeat;
    background-size: 130rem auto;
    z-index: -1;
}

.subscribe-wrap .swiper-wrapper {
    min-height: 428px;
    min-height: 470px;
    align-items: center;

    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

.subscribe-wrap .subscribe-column.swiper-slide:nth-child(odd) {
    transform: translateY(20px) scale(1.14) rotate(5deg);
}

.subscribe-wrap .subscribe-column.swiper-slide:nth-child(even) {
    transform: scale(1.14) rotate(-8deg);
}

.subscribe-section .title {
    text-shadow: 1px 3px #1C1C1C;
    margin: 7.3rem 0 0;
    font-size: 2.4rem;
}

.subscribe-column {
    border: 3px solid #D55F4A;
    border-radius: 3.2rem;
    background: #FFFCFA;
    padding: 4rem 1.2rem 1.2rem;
}

.subscribe-column .card-layer {
    position: absolute;
    top: 2.1rem;
    left: 2.1rem;
    right: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.subscribe-column .card-layer span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.subscribe-column .card-layer span:first-child {
    background: #D55F4A;
    margin-right: 6px;
}

.subscribe-column .card-layer span:nth-child(2) {
    background: #F4BE18;
    margin-right: 6px;
}

.subscribe-column .card-layer span:last-child {
    background: #1F4692;
}

.subscribe-column .image-wrap {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 100%;
}

.subscribe-column .image-wrap img {
    vertical-align: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

@media screen and (min-width: 768px) {
    .subscribe-section {
        background-size: 100% auto;
    }

    .subscribe-section:before {
        background-size: 100% auto;
    }

    .subscribe-wrap .subscribe-column.swiper-slide:nth-child(odd) {
        transform: translateY(20px) scale(1.14) rotate(8deg);
    }

    .subscribe-wrap .subscribe-column.swiper-slide:nth-child(even) {
        transform: scale(1.14) rotate(-4deg);
    }

    .subscribe-section .title {
        font-size: 3.2rem;
    }

}

@media screen and (min-width: 1441px) {
    .subscribe-wrap .swiper-wrapper {
        min-height: 60rem;
        margin-top: -3.3rem;
    }
}